<button
  class="btn btn-success float-right mr-3 mb-2"
  (click)="addItemHandler()"
>
  <fa-icon [icon]="faPlusCircle"></fa-icon> &nbsp; Add
</button>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of tableColumns">
          {{ column.label }}
        </th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data$ | async">
        <td scope="row" *ngFor="let column of tableColumns">
          {{ data[column.property] }}
        </td>
        <td>
          <button type="button" class="btn btn-secondary" (click)="editItemHandler(data)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button type="button" class="btn btn-info ml-1" (click)="infoItemHandler(data)">
            <fa-icon [icon]="faInfo"></fa-icon>
          </button>
          <button type="button" class="btn btn-danger ml-1">
            <fa-icon [icon]="faLock"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2" *ngIf="infoPage.pages > 1">
    <ngb-pagination
      [collectionSize]="infoPage.total"
      [(page)]="infoPage.page"
      [pageSize]="infoPage.itemsPage"
      (pageChange)="changePage()"
    >
    </ngb-pagination>

    <!-- TODO: Fix change items per page-->
    <!-- <select
      class="custom-select"
      style="width: auto"
      [(ngModel)]="infoPage.itemsPage"
      (ngModelChange)="loadData()"
    >
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
      <option [ngValue]="20">20 items per page</option>
    </select> -->
  </div>
</div>
