<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
        <h1>Change password</h1>
        <p>Introduce new password.</p>

        <label for="oldPassword"><b>Old password</b></label>
        <input
          type="password"
          placeholder="Enter old password"
          name="oldPassword"
          required
          #oldPassword="ngModel"
          [(ngModel)]="changePasswordForm.oldPassword"
          class="form-control"
          [ngClass]="{
            'is-valid': oldPassword.valid,
            'is-invalid':
              oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)
          }"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)
          "
        >
          <div *ngIf="oldPassword.errors.required">
            Old password is required
          </div>
        </div>
        <label for="newPassword"><b>New password</b></label>
        <input
          type="password"
          placeholder="Enter new password"
          name="newPassword"
          required
          #newPassword="ngModel"
          [(ngModel)]="changePasswordForm.newPassword"
          class="form-control"
          [ngClass]="{
            'is-valid': newPassword.valid,
            'is-invalid':
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
          }"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (newPassword.invalid &&
              (newPassword.dirty || newPassword.touched)) ||
            oldPassword !== newPassword
          "
        >
          <div *ngIf="newPassword.errors?.required">
            New password is required
          </div>
          <div
            *ngIf="
              changePasswordForm.newPassword === changePasswordForm.oldPassword
            "
          >
            Old password is same that new password
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <button
              type="submit"
              class="signup-btn"
              [disabled]="changePasswordForm.invalid"
            >
              <div class="spinner-border" *ngIf="loading"></div>
              <span *ngIf="!loading">Change password</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg"></div>
  </div>
</div>
